@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body {
    font-family: 'Neucha', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    background: #33506b;
}
#bg-div{
    margin: 2rem auto;
    max-width: 630px;
    height: 865px;
    background-image: url("paper.jpg");
    border-radius: 15px;
    background-size: cover;
    display: flex; 
    justify-content: center;
}
#container-div{
    width: 500px;
    margin: 2rem auto 3rem auto;
    width: 250px;
    padding: 1rem 0;
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 15px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
#title {
    background: linear-gradient(135deg, 
        rgba(255, 255, 255, .3), 
        rgba(243, 247, 255, .6), 
        rgba(231, 239, 255, .5), 
        rgba(218, 232, 255, .3), 
        rgba(212, 228, 255, .6), 
        rgba(255, 255, 255, .2), 
        rgba(245, 248, 255, .6), 
        rgba(237, 243, 255, .5), 
        rgba(224, 236, 255, .3), 
        rgba(212, 228, 255, .7));
    width: 200px;
	height: 60px;
	box-sizing: border-box;
	border: 1px solid rgba(150,150,150,.5);
	border-radius: 5px;
	box-shadow: 0 5px 12px 0px rgba(0,0,0,0.65);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	margin: 35px auto 10px auto;
}
h1 {
    padding-top: 10px;
    margin: auto;   
}
p{
    font-size: 24px;
    line-height: 29px;
}
#count-el {
    font-size: 45px;
    margin: auto;
    padding: 3px;
    width: 80px;
    height: 50px;
    background: rgb(220, 220, 220);
    border-radius: 5px;
    border: 5px inset rgba(220, 220, 220, .8);
}
button {
    font-family: 'Neucha', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    font-size: 24px;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .7));
}

.btn-div{
    display:flex;
    justify-content: space-between;
    margin: 2.5rem auto 4.7rem auto;
}
.btn{
    margin: 0;
    width: 70px;
    height: 60px;
}    
#increment-btn {
    background: darkgreen;
    font-size: 30px; 
}
#increment-btn:hover {
    background: green;
    border: 1px solid darkgreen;
}
#decrement-btn {
    background: darkred;
    font-size: 30px;
}
#decrement-btn:hover {
    background: red;
    border: 1px solid darkred;
}
#save-btn {
    padding:0;
    background: darkblue;
}
#save-btn:hover {
    background: blue;
    border: 1px solid darkblue;
}
#reset-btn {
    width: 100px;
    background: #47053d;
    margin: 10px auto; 
}
#reset-btn:hover {
    background: purple;    
}

#save-div{
    margin: 0 auto 32px auto;
    width: 250px;
    height: 150px; 
}
#total-div{
    margin: auto;
    width: 175px;
}
#total-div > p{
    margin: auto ;
    padding: 0 auto 10px auto;   
}


/* Mobile  */

@media screen and (max-width: 500px){
    #bg-div{
        margin: 1rem auto;
        max-width: 280px;
        height: 384px;
        border-radius: 5px;
    }
    #container-div{
        width: 200px;
        margin: 1rem auto;
        
    }
    h1 {
        font-size: 20px; 
        padding: 2px 0;
        width: 110px;
        margin: auto;   
    }
    p{
        font-size: 14px;
        line-height: 16px;
    }
    #count-el {
        font-size: 35px;
        width: 60px;
        height: 40px;
        border: 3px inset rgba(220, 220, 220, .8);
    }
    button {
        padding: 5px 10px; 
        font-size: 20px;  
    }
    .btn{
        width: 60px;
        height: 50px;
    } 
    .btn-div{
        margin: 10px auto 1.5rem auto;
    }
    #reset-btn {
        margin: 10px auto; 
    }
    #save-div{
        margin: 0 auto 16px auto;
        width: 180px;
        height: 50px;  
    } 
    @keyframes float {
        0% {
            box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
            transform: translatey(0px);
        }
        50% {
            box-shadow: 0 15px 15px 0px rgba(0,0,0,0.2);
            transform: translatey(-10px);
        }
        100% {
            box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
            transform: translatey(0px);
        }
    }
    #title {
        width: 125px;
        height: 35px;
        transform: translatey(0px);
        animation: float 6s ease-in-out infinite;
        margin: 10px auto;
    }
} 